:root{
    --primary-color: #143064;
    --secundary-color: #006AB2;
    --tertiary-color: #D7B14B;
}
header{
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
   justify-content: space-between;
}
.logos{
    display: flex;
    gap: 40px;
}
.logos img{
    height: 70px;
    width: 70px;
}
.clashRoyale img{
    position: absolute;
    width: 620px;
    height: 270px;
    top:60px;
    left: 38%;
}
.menu-header{
    display: flex;
    gap: 40px;
}
.home{
    font-size: 50px;
    color: var(--tertiary-color);
}
.characters{
    font-size: 50px;
    color: white;
}
.media{
    font-size: 50px;
    color: white;
}
.store{
    font-size: 50px;
    color: white;
}
main{
    height: 70vh;
    background-color: var(--secundary-color);
    display: flex;
}
.left{
    height:100%;
    width: 50%;
}
.topo-left{
    height: 40%;
    display: flex;
    flex-direction: column;
}
.prev-text{
    color: var(--tertiary-color);
    font-size: 25px;
    margin-left: 50px;
    margin-top: 10px;
}
.topo-left img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 5px;
}
.arqueira-nome{
    color: var(--tertiary-color);
    font-size: 64px;
    text-align: center;
    margin-top: 150px;
}
.descricao-arqueira{
    display: flex;
    width: 100%;
    gap: 15px;
}
.rarity-text{
    margin-left: 280px;
    color: var(--tertiary-color);
    font-size: 24px;
}
.common-text{
    color: white;
    font-size: 24px;
}
.barra-text{
    font-size: 24px;
    color: white;
}
.type-text{
    color: var(--tertiary-color);
    font-size: 24px;
}
.trop-text{
    color: white;
    font-size: 24px;
}
.baixo-left{
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.gigante img{
    height: 200px;
    width: 200px;
}
.goblins img{
    height: 200px;
    width: 200px;
}
.personagens-metade-div img{
    height: 200px;
    width: 100px;
}
.descricao-eskeletons{
    font-size: 30px;
    color:white;
}
.fundo-esqueleto{
    height: 200px;
    width: 50px;
    background-color: #BFBFBF;
}
.fundo-goblins{
    height: 200px;
    width: 200px;
    background-color: #78AE38;
    border-radius: 40px;
}
.descricao-gigant{
    font-size: 30px;
    color: white;
    text-align: center;
}
.descricao-goblins{
    font-size: 30px;
    color: white;
    text-align: center;
}
.center{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.top-characters-text{
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 115px;
}
.circulo-tracejado{
    width: 550px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.circulo-verde{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.arqueira-img{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.barra-de-rolagem{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 80%;
}
.barra-de-rolagem img{
    height: 7px;
    width: 7px;
}
.right{
    height: 100%;
    width: 50%;
}
.topo-right{
    height: 40%;
    display: flex;
    flex-direction: column;
}
.next-text{
    color: var(--tertiary-color);
    font-size: 25px;
    text-align: end;
    margin-right: 50px;
    margin-top: 15px;
}
.topo-right img{
    height: 100px;
    width: 100px;
    position: absolute;
    left:2450px;
}
.texto-explicativo{
    margin-top: 150px;
}
.parte-um{
    text-align: center;
    color: white;
    font-size: 26px;
}
.parte-dois{
    text-align: center;
    color: var(--tertiary-color);
    font-size: 26px; 
}
.baixo-right{
    height: 60%;
    display: flex;
    justify-content: space-between;
    
}
.bruxa p{
    color: white;
    font-size: 30px;
     text-align: center;
}
.fundo-bruxa{
    height: 200px;
    width: 200px;
    background-color: #6660B2;
    border-radius: 40px;
}
.fundo-bruxa img{
    height: 200px;
    width: 200px;
}
.principe p{
    color: white;
    font-size: 30px;
     text-align: center;
}
.fundo-principe{
    height: 200px;
    width: 200px;
    background-color: #917D40;
    border-radius: 40px;
}
.fundo-principe img{
    height: 200px;
    width: 200px;
}
.servos p{
    color: white;
    font-size: 30px;
    text-align:end;
}
.fundo-servos{
    height: 200px;
    width: 100px;
    background-color: #619ED7;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.fundo-servos img{
    height: 200px;
    width: 100px;
}
footer{
    height: 15vh;
    background-color:var(--secundary-color);
    display: flex;
    justify-content: center;
}
.descricao-footer{
    display: flex;
    width: 100%;
    gap: 60px;
    align-items: center;
    justify-content: center;

}.descricao-footer img{
    height: 50px;
    width: 50px;
}
.descricao-footer div{
    display: flex;
    gap: 5px;
}
.dourado-text{
    font-size: 50px;
    color: var(--tertiary-color);
}
.branco-text{
    font-size: 50px;
    color: white;
}

/*responsividade do site*/
@media (max-width: 1024px){ /*resolução tablet (no máximo 1024 px)*/
    header{
    height: 11vh;
    background-color: var(--primary-color);
    display: flex;
    padding-left: 20px;
    padding-right: 0px;
    align-items: center;
    justify-content: space-between;
    }
    .logos img{
    height: 60px;
    width: 60px;
    }
    .logo-instagram{
        margin-left: 360px;
    }

    .clashRoyale img{
    width: 420px;
    height: 170px;
    top:15px;
    left: 20%;
    }
    .menu-header{
        display: none;
    }
    main{
    height: 72vh;
    background-color: var(--secundary-color);
    display: flex;
    }
    .arqueira-nome{
    position: absolute;
    left: 50%;
    top: 560px;
    transform: translate(-50%);
    font-size: 65px;
    }
    .descricao-arqueira{
    position: absolute;
    right: 110px;
    top: 820px;
    }
    .descricao-arqueira p{
        font-size: 35px;
    }
    .prev-text{
    color: var(--tertiary-color);
    font-size: 25px;
    margin-left: 50px;
    margin-top: 100px;
    }
    .topo-left img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 5px;
    }
    .personagens-metade-div{
        display: none;
    }
    .gigante{
        display: none;
    }
    .goblins{
        margin-left: 20px;
    }
    .goblins img{
    height: 160px;
    width: 160px;
    }
    .fundo-goblins{
    height: 160px;
    width: 160px;
    background-color: #78AE38;
    border-radius: 30px;
    }
    .descricao-goblins{
    font-size: 30px;
    color: white;
    text-align: center;
    }
    .top-characters-text{
    color: white;
    font-size: 64px;
    position: absolute;
    top: 55px;
    left: 200px;
    }
    .circulo-tracejado{
    width: 380px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    }
    .circulo-verde{
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    }
    .arqueira-img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    }
    .barra-de-rolagem{
    display: none;
    }
    .texto-explicativo{
        display: none;
    }
    .texto-explicativo-final{
        display: none;
    }
    .next-text{
    color: var(--tertiary-color);
    font-size: 25px;
    text-align: end;
    margin-right: 50px;
    margin-top: 100px;
    }
    .topo-right img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left:665px;
    }
    .principe{
        display: none;
    }
    .servos{
        display: none;
    }
    .bruxa{
        margin-left: 80px;
    }
    .fundo-bruxa{
    height: 160px;
    width: 160px;
    background-color: #6660B2;
    border-radius: 30px;
    }
    .fundo-bruxa img{
    height: 160px;
    width: 160px;
    }
    footer{
    height: 17vh;
    background-color:var(--secundary-color);
    display: flex;
    justify-content: center;
    }
    .descricao-footer{
    gap: 20px;
    }
    .descricao-footer img{
    height: 25px;
    width: 25px;
    }
    .descricao-footer div{
    display: flex;
    gap: 2px;
    }
    .dourado-text{
    font-size: 25px;
    color: var(--tertiary-color);
    }
    .branco-text{
    font-size: 25px;
    color: white;
    }
}

@media (max-width: 480px){ /*resolução mobile (no máximo 480px)*/

    .logos{
        gap: 5px;
    }

    .logos img{
    height: 35px;
    width: 35px;
    }

    .logo-instagram{
        margin-left: 180px;
    }

    .clashRoyale img{
    width: 180px;
    height: 85px;
    top:25px;
    left: 25%;
    }
}