:root{
    --primary-color: #143064;
    --secundary-color: #006AB2;
    --tertiary-color: #D7B14B;
}
header{
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
   justify-content: space-between;
}
.logos{
    display: flex;
    gap: 40px;
}
.logos img{
    height: 70px;
    width: 70px;
}
.clashRoyale img{
    position: absolute;
    width: 620px;
    height: 270px;
    top:60px;
    left: 38%;
}
.menu-header{
    display: flex;
    gap: 40px;
}
.home{
    font-size: 50px;
    color: var(--tertiary-color);
}
.characters{
    font-size: 50px;
    color: white;
}
.media{
    font-size: 50px;
    color: white;
}
.store{
    font-size: 50px;
    color: white;
}
main{
    height: 70vh;
    background-color: var(--secundary-color);
    display: flex;
}
.left{
    height:100%;
    width: 50%;
}
.topo-left{
    height: 40%;
    display: flex;
    flex-direction: column;
}
.prev-text{
    color: var(--tertiary-color);
    font-size: 25px;
    margin-left: 50px;
    margin-top: 10px;
}
.topo-left img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 5px;
}
.arqueira-nome{
    color: var(--tertiary-color);
    font-size: 64px;
    text-align: center;
    margin-top: 150px;
}
.descricao-arqueira{
    display: flex;
    width: 100%;
    gap: 15px;
}
.rarity-text{
    margin-left: 280px;
    color: var(--tertiary-color);
    font-size: 24px;
}
.common-text{
    color: white;
    font-size: 24px;
}
.barra-text{
    font-size: 24px;
    color: white;
}
.type-text{
    color: var(--tertiary-color);
    font-size: 24px;
}
.trop-text{
    color: white;
    font-size: 24px;
}
.baixo-left{
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.personagens-div img{
    height: 200px;
    width: 200px;
}
.personagens-metade-div img{
    height: 200px;
    width: 100px;
}
.descricao-eskeletons{
    font-size: 30px;
    color:white;
}
.fundo-esqueleto{
    height: 200px;
    width: 50px;
    background-color: #BFBFBF;
}
.fundo-goblins{
    height: 200px;
    width: 200px;
    background-color: #78AE38;
    border-radius: 40px;
}
.descricao-gigant{
    font-size: 30px;
    color: white;
    text-align: center;
}
.descricao-goblins{
    font-size: 30px;
    color: white;
    text-align: center;
}
.center{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.top-characters-text{
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 115px;
}
.circulo-tracejado{
    width: 550px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.circulo-verde{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.arqueira-img{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.barra-de-rolagem{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 80%;
}
.barra-de-rolagem img{
    height: 7px;
    width: 7px;
}
.right{
    height: 100%;
    width: 50%;
    background-color:brown ;
}
.topo-right{
    height: 40%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.next-text{
    color: var(--tertiary-color);
    font-size: 25px;
    text-align: end;
    margin-right: 50px;
    margin-top: 15px;
}
.topo-right img{
    height: 100px;
    width: 100px;
    position: absolute;
    left:2450px;
}
.texto-explicativo{
    margin-top: 150px;
}
.parte-um{
    text-align: center;
    color: white;
    font-size: 26px;
}
.parte-dois{
    text-align: center;
    color: var(--tertiary-color);
    font-size: 26px; 
}
.baixo-right{
    height: 60%;
    
}
footer{
    height: 15vh;
    background-color:var(--tertiary-color);
}