:root{
    --primary-color: #143064;
    --secundary-color: #006AB2;
    --tertiary-color: #D7B14B;
}
header{
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
   justify-content: space-between;
}
.logos{
    display: flex;
    gap: 40px;
}
.logos img{
    height: 70px;
    width: 70px;
}
.clashRoyale img{
    position: absolute;
    width: 620px;
    height: 270px;
    top:60px;
    left: 38%;
}
.menu-header{
    display: flex;
    gap: 40px;
}
.home{
    font-size: 50px;
    color: var(--tertiary-color);
}
.characters{
    font-size: 50px;
    color: white;
}
.media{
    font-size: 50px;
    color: white;
}
.store{
    font-size: 50px;
    color: white;
}
main{
    height: 70vh;
    background-color: var(--secundary-color);
    display: flex;
}
.left{
    height:100%;
    width: 50%;
    background-color: aqua;
}
.topo-left{
    height: 40%;
    background-color: teal;
}
.baixo-left{
    height: 60%;
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
}
.personagens-div img{
    height: 200px;
    width: 200px;
}
.personagens-metade-div img{
    height: 200px;
    width: 100px;
}
.descricao-eskeletons{
    font-size: 30px;
    color:white;
}
.descricao-gigant{
    font-size: 30px;
    color: white;
    text-align: center;
}
.fundo-goblins{
    height: 90%;
    width: 100%;
}
.descricao-goblins{
    font-size: 30px;
    color: white;
    text-align: center;
}
.center{
    height: 100%;
    width: 50%;
    background-color: bisque;
}
.right{
    height: 100%;
    width: 50%;
    background-color: aquamarine;
}
.topo-right{
    height: 40%;
    background-color: yellow;
}
.baixo-right{
    height: 60%;
    background-color: palevioletred;
}
footer{
    height: 15vh;
    background-color:var(--tertiary-color);
}